.container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 1vw 1vh 1vw;
    width: 90vw;
    height: 95vh;
    overflow-y: auto;

    .patientContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        gap: 2vw;

        .patientAvatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .scheduleContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        gap: 2vh;

        .treatmentWrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2vw;
            align-items: center;
        }
    }
}