.page {
    background-color: #DEEBF9;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    justify-content: flex-start;
}

.form {
    background-color: #004AAD;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 52px;
    margin: 0;
    margin-bottom: 20px;
}

.subtitle {
    color: white;
    font-size: 34px;
    font-weight: 350;
    margin: 0;
    margin-bottom: 35px;
}

.email_input {
    width: 23vw;
    height: 4.5vh;
    border-radius: 18px;
    font-size: 18px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.email_input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.enter_button {
    width: 10vw;
    height: 6vh;
    border-radius: 22px;
    font-size: 28px;
    font-weight: 600;
    color: #004AAD;
    background-color: #DEEBF9;
}